.crypto-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "info-left info-right"
    "info-link-l info-link-r"
    "chart chart"
    "desc desc";
  grid-gap: 0.3rem;
  margin: 2rem 4rem;
}

/************************************* HEADER ****************************************************/
#header {
  grid-area: header;
}
.header-info {
  margin-bottom: 1rem;
}
.rank {
  margin-bottom: 1rem;
}
.rank span {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(79, 105, 255);
}
.crypto-symbol-name {
  display: flex;
  align-items: center;
}
.logo-img {
  height: 35px;
  width: 35px;
}
.c-name,
.c-symbol {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.price-container {
  display: flex;
  align-items: baseline;
}
.crypto-price {
  display: inline-flex;
  font-size: 40px;
  font-weight: bold;
}
.market-percentage {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}
.positive {
  color: #16c784;
}
.negative {
  color: #ea3943;
}
/************************************* INFO-LEFT ****************************************************/
#info-left {
  grid-area: info-left;
  margin-right: 0.5rem;
}
.crypto-data-options {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  color: #999;
  border-bottom: 2px solid #ddd;
}
.num-data {
  color: #606060;
}

/************************************* INFO-RIGHT ****************************************************/
#info-right {
  grid-area: info-right;
  margin-left: 0.5rem;
}
/************************************* INFO-LINK-L ****************************************************/
#info-link-l {
  grid-area: info-link-l;
}
.info-links {
  margin-bottom: 0.2rem;
}
.info-links a button {
  margin-right: 3px;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgb(79, 105, 255) !important;
}
.btn-primary:hover {
  background-color: rgb(42, 74, 255) !important;
}
.info-links span {
  font-weight: 500;
  font-size: 14px;
  color: #999;
}
/************************************* INFO-LINK-R ****************************************************/
#info-link-r {
  grid-area: info-link-r;
}

/************************************* CHART ****************************************************/
#chart {
  grid-area: chart;
}

/************************************* DESCRIPTION ****************************************************/
#desc {
  grid-area: desc;
}
#description-text p {
  font-size: 13px;
  text-align: justify;
}

/************************************* MEDIA ****************************************************/
@media only screen and (max-width: 550px) {
  .crypto-grid-container {
    grid-template-columns: calc(100vw - 2rem);
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "info-left"
      "info-right"
      "info-link-l"
      "info-link-r"
      "chart"
      "desc";
    margin: 2rem 1rem;
  }
  #info-right,
  #info-link-r {
    margin-left: 0;
  }
}
