#main {
  grid-area: main;
  margin: 2rem 2rem;
  /* align-items: center;
  max-width: 1000px;
  margin: auto; */
}
.table-primary th {
  font-size: 14px;
  font-weight: 600;
}
.crypto-link a {
  text-decoration: inherit;
  color: inherit;
}
.crypto-img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.crypto-name {
  font-size: 17px;
  font-weight: 600;
}
.fw-6 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #393939;
}
.crypto-symbol {
  color: #797979;
  font-size: 12px;
  font-weight: 500;
}
.positive {
  color: #16c784;
}
.negative {
  color: #ea3943;
}
