#nav {
  display: flex;
  align-items: center;
  grid-area: nav;
  box-shadow: 5px 5px 8px rgba(70, 70, 70, 0.15);
}
.nav-container {
  display: flex;
  width: 100%;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}

/******************************** LOGO **************************************/
.logo {
  display: flex;
  align-items: flex-end;
}
.logo img {
  height: 65px;
  width: 65px;
}
.logo-name {
  padding-bottom: 5px;
}

/******************************** SEARCH **************************************/
.search {
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: inset 5px 5px 8px rgba(70, 70, 70, 0.15), inset -5px -5px 8px #fff;
}
.input-search {
  height: 35px;
  width: 250px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: transparent;
}
.icon {
  position: absolute;
  padding: 5px;
  height: 35px;
  line-height: 35px;
  top: -3px;
  right: 0;
  color: rgb(79, 105, 255);
}
.scroll-container {
  position: absolute;
  height: 135px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.autocomplete-box {
  position: relative;
  width: 294px;
  max-height: 135px;
  background-color: #fff;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: inset 5px 5px 8px rgba(70, 70, 70, 0.15), inset -5px -5px 8px #fff;
}
.nav-container a,
.autocomplete-box a {
  text-decoration: inherit;
  color: inherit;
}

.autocomplete-box li {
  list-style: none;
  padding: 7px 15px;
  cursor: pointer;
}

.autocomplete-box li:hover {
  background-color: rgb(243, 243, 243);
}

.autocomplete-box li img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.autocomplete-box li .crypto-name {
  margin-left: 10px;
}
.autocomplete-box li .crypto-symbol {
  margin-left: 5px;
}
.display {
  display: block;
}
.display-none {
  display: none;
  z-index: -10;
}
