.navbar {
  display: flex;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/******************************** LOGO **************************************/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo .logoname {
  margin-left: 0.7rem;
  padding-top: 2.5rem;
  font-weight: 600;
}
.logo img {
  width: 90px;
  height: 90px;
}

/******************************** FORM **************************************/
.search {
  display: flex;
  height: 40px;
  align-items: center;
  margin-top: 2rem;
  box-shadow: inset 5px 5px 8px rgba(70, 70, 70, 0.15), inset -5px -5px 8px #fff;
  border-radius: 25px;
  padding-left: 20px;
}
.input-search {
  height: 100%;
  font-size: 16px;
  border: none;
  background: none;
  color: #777;
}
.input-search:focus {
  outline: none !important;
}
.input-search::placeholder {
  color: #bbb;
}

.icon {
  padding-right: 5px;
  color: #bbb;
}
